absl-py==2.2.2
aiohappyeyeballs
aiohttp
aiosignal
alembic
altair
annotated-types
anyio
archspec
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse==1.6.3
async-lru
async_generator
attrs
babel
beautifulsoup4
bleach
blinker
bokeh
boltons
Bottleneck
Brotli
cached-property
cachetools==5.5.2
certifi
certipy
cffi
charset-normalizer
click
cloudpickle
cmdstanpy==1.2.5
colorama
comm
conda
conda-libmamba-solver
conda-package-handling
conda_package_streaming
contourpy
cryptography
curl_cffi==0.11.2
cycler
Cython
cytoolz
dask
debugpy
decorator
defusedxml
dill
distributed
distro
et_xmlfile
exceptiongroup
executing
fastjsonschema
flatbuffers==25.2.10
fonttools
fqdn
frozendict
frozenlist
fsspec
gast==0.6.0
gitdb
GitPython
gmpy2
google-pasta==0.2.0
greenlet
grpcio==1.71.0
h11
h2
h5py
holidays==0.74
hpack
httpcore
httpx
hyperframe
idna
imagecodecs
imageio
importlib_metadata
importlib_resources
ipykernel
ipympl
ipython
ipython_genutils
ipython_pygments_lexers
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_mathjax
jupyter_server_proxy
jupyter_server_terminals
jupyterhub
jupyterlab
jupyterlab_git
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras==3.9.2
kiwisolver
lazy_loader
libclang==18.1.1
libmambapy
llvmlite==0.44.0
locket
lz4
Mako
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.10.3
matplotlib-inline
mdurl==0.1.2
menuinst
mistune
ml_dtypes==0.5.1
mpmath
msgpack
multidict
multitasking==0.0.11
munkres==1.1.4
namex==0.0.9
narwhals
nbclassic
nbclient
nbconvert
nbdime
nbformat
nest_asyncio
networkx
notebook
notebook_shim
numba
numexpr
numpy==2.1.3
nvidia-cublas-cu12==12.5.3.2
nvidia-cuda-cupti-cu12==12.5.82
nvidia-cuda-nvcc-cu12==12.5.82
nvidia-cuda-nvrtc-cu12==12.5.82
nvidia-cuda-runtime-cu12==12.5.82
nvidia-cudnn-cu12==9.3.0.75
nvidia-cufft-cu12==11.2.3.61
nvidia-curand-cu12==10.3.6.82
nvidia-cusolver-cu12==11.6.3.83
nvidia-cusparse-cu12==12.5.1.3
nvidia-nccl-cu12==2.23.4
nvidia-nvjitlink-cu12==12.5.82
oauthlib
openpyxl
opt_einsum==3.4.0
optree==0.15.0
overrides
packaging==24.2
pamela
pandas
pandocfilters
parso
partd
patsy
peewee==3.18.1
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
pluggy
prometheus_client
prompt_toolkit
propcache
prophet==1.1.7
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
pyarrow==20.0.0
pycosat
pycparser
pydantic
pydantic_core
pydeck==0.9.1
Pygments
PyJWT
pyngrok==7.2.11
pyparsing
PySocks
python-dateutil
python-json-logger
pytz
PyWavelets==1.8.0
PyYAML
pyzmq
referencing
requests
rfc3339_validator
rfc3986-validator
rich==14.0.0
rpds-py
ruamel.yaml
ruamel.yaml.clib
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
setuptools==80.1.0
simpervisor
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
stack_data
stanio==0.5.1
statsmodels
streamlit==1.45.1
sympy
tables
tblib
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.1.0
terminado
threadpoolctl
tifffile
tinycss2
toml==0.10.2
tomli
toolz
tornado
tqdm
traitlets
truststore
types-python-dateutil
typing-inspection
typing_extensions
typing_utils
tzdata
unicodedata2
uri-template
urllib3
watchdog==6.0.0
wcwidth
webcolors
webencodings
websocket-client
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension
wrapt==1.17.2
xlrd
xyzservices
yarl
yfinance==0.2.61
zict
zipp
zstandard==0.23.0